* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
    background-color: #000000;
    color: #eee;

}

/* se ajustan las medidas del carousel */
.carousel img {
    height: 90vh;
    width: 100%;
    min-width: 100vh;

}

/* se justifica el texto */
.card-body-about {
    text-align: justify;
    padding: 10px;
}

/* se editan las propiedades de las card */
.card-body-about i {
    display: flex;
    justify-content: center;
    background-color: rgb(161, 225, 142);
    border-radius: 10px;
    color: #000000;
    padding: 8px;
    text-align: justify;
}

.card-img {
    width: 300px;
    height: 200px;

}

.card_destacado {
    border: 2px solid rgb(109, 145, 98);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;

}

.container-contacto {
    padding-bottom: 35px;
}

/* se realiza las especificaciones del footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid rgb(120, 186, 100);
    padding: 30px;

}

.footer p {
    margin: 0;
    font-family: 'Lobster', sans-serif;
}

.social-icons i {
    margin-right: 10px;

}